PORT="8080"
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="root"
DB_PASSWORD="password"
DB_NAME="jobtracker"

OTEL_EXPORTER_OTLP_INSECURE="true"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
OTEL_SERVICE_NAME="job-tracker"
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_RESOURCE_ATTRIBUTES="service.name=job-tracker,service.namespace=davinchicoder-go,deployment.environment=develop"

GRAFANA_API_KEY="glc_YOUR_API_KEY"
GRAFANA_INSTANCE_ID="ALLOY_FLEET_ID"